<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>Lorem ipsum</title>
</head>
<body>
    <div id='header'>
        <h1>Lorem ipsum</h1>
    </div>
    <div id='mainDiv'>
        <div class='withimage'>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam architecto iure in fugiat ipsum. Rerum rem molestiae temporibus mollitia veniam, repudiandae earum saepe aut repellat facilis unde fugiat quia. Culpa!
        Iure consequuntur, delectus ducimus veritatis id ratione iste distinctio sapiente. Accusamus neque eum earum dolore, ipsa illum. Numquam, repudiandae pariatur voluptatum, ullam hic, provident culpa eaque harum ratione quas placeat!
        Accusamus labore et repellendus adipisci? Tenetur molestias porro, eos alias minima, nostrum dignissimos necessitatibus in sint fuga vitae incidunt ipsa quas beatae magni culpa, sit facere iste aliquam omnis at.
        Ipsa reiciendis veniam dolore quibusdam totam veritatis sit beatae. Alias, doloribus nesciunt a odio magnam quia possimus beatae rerum officiis fugiat culpa mollitia reiciendis modi, incidunt itaque libero voluptatem tempora.
        Ipsum tempora eum nesciunt et minima magnam quae ut odit consequuntur? Mollitia magni, corporis possimus, consequatur, molestias ducimus eius dolorem vitae doloremque quaerat atque incidunt iusto veniam! Accusamus, cum cupiditate!
        Tempora sint esse dolores iste maiores nihil saepe aperiam repellendus non laborum illum deserunt facere aliquid placeat eligendi nesciunt repellat doloribus ex blanditiis magnam officiis dolorum, modi obcaecati ad. Quidem.
        Pariatur iste vero quas enim quo nulla omnis, error est necessitatibus cumque harum quae dolores eos animi deleniti deserunt ipsum quibusdam? Minima fugit ad inventore dicta nam repellat soluta quae?
        Ex voluptatibus accusantium eaque, eligendi ipsum exercitationem adipisci earum atque culpa consequatur repellendus nam, tempore quam animi repellat vitae. Totam, quaerat. Dignissimos nesciunt voluptate dolor blanditiis exercitationem vitae numquam dolores.
        Perspiciatis suscipit tenetur excepturi harum expedita, maxime ipsa. Quas nostrum rerum, ducimus numquam rem ratione voluptatum maiores nam nisi praesentium quae repudiandae laboriosam cupiditate quidem tenetur, fugiat assumenda molestiae repellat.
        Quod ipsa error in cupiditate excepturi voluptatum hic fugit incidunt recusandae pariatur adipisci omnis inventore, nulla sed saepe, ut aut iure fugiat repellat commodi, provident labore soluta. Et, quaerat laudantium?</p>
        <div class='imagetext'>
            <img src="https://www.frontiersin.org/files/special%20topics/14053/thumb_400.jpg" alt="">
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum perspiciatis deserunt in est, magni obcaecati at eos quam quas necessitatibus ad mollitia earum illo unde quos explicabo modi rerum temporibus.
        Veritatis delectus ipsum ipsam commodi? Ducimus quae, voluptatum suscipit consequatur repellat, atque distinctio expedita rem ad, velit est tempora commodi sapiente optio aspernatur minima! Numquam fugit provident eum aliquam voluptate?
        Quasi ex odit, facere inventore porro, quia nemo saepe ducimus nulla fugiat dolor deserunt maxime assumenda ut, ad voluptatem laboriosam voluptatibus libero ea? Error quo, corporis est vel minus ducimus.
        Asperiores commodi iste sed cumque dolore dignissimos aliquid. Numquam eaque vero alias consequatur veritatis, impedit voluptas ab aliquam fuga nisi earum hic. Corrupti eveniet, dolores cum ea impedit atque? Ratione.</p>
        <div class='buttonsdiv'>
            <button id='myButton'>Lorem</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magnam ex totam nesciunt natus corrupti id qui atque iusto, aperiam delectus ducimus veniam cum ea quam illo laudantium ipsam quidem!</p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius saepe pariatur, inventore nesciunt corporis dolores vero, consectetur totam ullam aliquid ducimus asperiores quam molestias distinctio. Vero rem aliquam natus.
        Minus quis repudiandae exercitationem impedit! Debitis, adipisci fuga sapiente maxime repudiandae vitae vero odit ullam. Est, adipisci temporibus, labore, facere deleniti illum error inventore possimus aperiam eligendi dolorem nihil corporis.
        Sunt optio saepe quam debitis, id odit nobis. Qui, quas. Cum sed neque officiis iure perspiciatis, itaque nemo omnis dolor ipsa, aut perferendis deserunt. Facere sit corrupti explicabo eligendi eaque!
        Eum voluptatem facilis autem beatae ad delectus, sit, quaerat minima dolorum tenetur possimus minus dolore! Veniam voluptates totam delectus ratione quaerat esse iure eveniet asperiores, repellendus fugit iusto neque nobis.
        Beatae deserunt eius consectetur libero, alias reiciendis saepe harum veniam, pariatur nisi quidem expedita. Aliquid numquam adipisci corporis officiis, eius illo ex ut temporibus veritatis expedita mollitia sed non exercitationem.
        Architecto velit nobis sed! Consectetur veritatis illo iusto in! Iure omnis error debitis delectus sequi, asperiores dolorem sit earum doloribus ab maxime? Illum provident numquam distinctio tempora incidunt velit corporis.
        Ipsa ab reprehenderit quae odio possimus placeat, autem blanditiis enim, sapiente excepturi, similique qui molestias mollitia nulla. Obcaecati voluptatibus labore esse, placeat debitis totam a voluptatum numquam maiores cumque consectetur.
        Deleniti excepturi deserunt totam culpa harum sapiente quos, sed dolorem cupiditate ratione id nihil cum ea aperiam rem odio placeat consequatur fugiat eligendi iusto esse delectus minima tempore facilis. Ad?
        Perferendis deserunt cumque quam et corrupti quaerat dolores tenetur. Laboriosam minima molestias dolore adipisci tenetur, neque beatae asperiores officia. Fugit, atque dolore. Animi, dolorum modi quia odio sunt voluptates beatae.
        Excepturi qui accusantium laborum suscipit aperiam sit facere facilis consequatur perspiciatis, delectus eos quisquam ullam nihil minus natus placeat accusamus enim deleniti laudantium labore eligendi beatae? Aspernatur eaque commodi facere.
        Provident id omnis minima alias repudiandae voluptate veniam, aperiam architecto enim. Ab quod doloribus molestias quisquam. Saepe officia reprehenderit consectetur perspiciatis sint? Expedita nisi culpa laboriosam aut esse nihil fugit.
        Natus velit reprehenderit facilis ut quaerat unde architecto earum adipisci dolorum veniam iure ad libero facere, perspiciatis laudantium dolor. Odio maxime fugiat eveniet ullam adipisci cum minima debitis provident perspiciatis.
        Quam aspernatur dolore quis possimus cumque, hic similique nulla delectus neque nesciunt tempore repellat quisquam quo distinctio magni cum excepturi dolorum fuga odio alias ipsa doloribus natus nam? Architecto, rerum?
        Fugit obcaecati recusandae itaque! Praesentium cupiditate dolores debitis tempore laboriosam modi earum, eveniet, saepe ex doloremque expedita vel quibusdam tenetur, iure deserunt illo temporibus nostrum! Doloribus provident deleniti soluta harum!
        Eos, qui, voluptatibus totam tenetur voluptates, libero dolorem soluta nisi officia numquam fugit aliquid beatae nulla expedita. Dolore voluptatum ducimus quia consequuntur? Repellat nostrum quasi sit, debitis rerum modi quis!
        Obcaecati blanditiis quisquam libero harum beatae officiis est quo reiciendis labore ab perspiciatis debitis quae, a nobis necessitatibus dignissimos optio qui. Soluta doloremque ipsum impedit est beatae commodi! Doloremque, aliquam!
        Numquam quos provident molestiae esse asperiores itaque molestias aliquam eum totam, voluptates recusandae dolores officiis delectus cum pariatur, aliquid dignissimos. Voluptatem aliquam doloremque in. Facilis dolorum ipsum ipsa explicabo eaque!
        Temporibus corporis laudantium sunt blanditiis. Facilis ipsum esse delectus voluptatibus nesciunt mollitia quidem sapiente quae recusandae, dolores excepturi iste expedita laboriosam consequatur quos quam optio est earum a consequuntur voluptatem!
        Laudantium quibusdam perspiciatis, sint reprehenderit veniam itaque voluptatum incidunt in ab? Atque voluptate reiciendis nostrum debitis ipsa ex sed voluptatum modi vero, aperiam deleniti unde, quo itaque dolorem asperiores dicta.
        Labore debitis est assumenda libero totam! Consequatur officia deleniti placeat fugiat natus excepturi in quae quia illo hic facere nemo aliquam nulla molestias maiores, ratione quis sapiente. Illum, unde obcaecati.
        Expedita aliquam atque, asperiores facilis vero recusandae? Eos odit repellendus quibusdam libero eligendi, maxime dicta quasi quis esse eaque placeat temporibus nostrum. Facere blanditiis possimus quidem, asperiores voluptas non vero!
        Repellendus corporis tempore minus commodi, corrupti assumenda ratione at quae? Autem, iure. Nesciunt natus aliquam deserunt reprehenderit minus dolores, nihil culpa veniam consectetur aut animi! Repellendus amet maxime perferendis ea!
        Veritatis ipsam labore, nobis provident minima quos culpa voluptates consequuntur id eius delectus odit neque libero autem alias necessitatibus ab sit aliquid possimus dolorem. Quas consectetur quaerat doloremque quae dolorum.
        Eius distinctio odit necessitatibus perferendis itaque consequuntur perspiciatis debitis eos quasi dolorem, commodi suscipit fuga dolorum facere nemo dolore velit molestias aperiam dignissimos nihil! Quae pariatur nostrum quos sed dolorum?
        Suscipit sit reiciendis magnam beatae, perferendis accusamus ex atque natus iste ad animi non saepe, consectetur voluptates exercitationem nam earum odio iure, rerum repellat quia! Eum aperiam tempora deserunt ratione.</p>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>